
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    ;
}
body  {
display:flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
h1{
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url(../images/fcrit.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .wrapper {
    width: 500px;
    background-color: #D3D3D3;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    box-shadow:  0 0 7px rgba(0, 0, 0, 1);
    }
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border: 3px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}
.wrapper .remember-forgot {
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: whitesmoke;
  margin-right: none;  
}
.remember-forgot a{
    color: black;
   text-decoration: none; 
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper .btn {
    width: 75%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    top: 50%;
    left: 50%;
    -ms-transform: translate(17%, 35%);
  transform: translate(17%, 35%);
    }
.wrapper .btn:hover{
    background: #C0C0C0;
}
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.container{
    width: 500px;
    height:fit-content;
    background-color: #D3D3D3;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0,0,0,1);
  }
  h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
  }
  
  .content form .user-details{
    
    justify-content:center;
   
  }
  form .user-details .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border: 3px;
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   
   
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
    width: 75%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    top: 50%;
    left: 50%;
    -ms-transform: translate(17%, 35%);
  transform: translate(17%, 35%); 
   }
   form .button input:hover{
    
    background: #C0C0C0;
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  .wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
  }